
.grid{
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.op h2{
    font-size: xx-large;
    border-bottom: 5px solid black;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.grid_item{
    margin: 30px; 
    width: 25%;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(186, 186, 186, 0.385) ;
    transition: all 1s;
    min-width: 200px;
}
.grid_item svg{
    color: black;
    font-size: xx-large;
}
.grid_item:hover{
    filter:invert(150%);
}